[Unit]
Description=Setup Device(Network connection)
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/bin/bash -i -c "source /home/pi/setup_device.sh"
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=multi-user.target